.font-open-sans {font-family: "Open Sans";}
.font-roboto {font-family: "Roboto";}
.font-lato {font-family: "Lato";}
.font-oswald {font-family: "Oswald";}
.font-source-sans-pro {font-family: "Source Sans Pro";}
.font-source-serif-pro {font-family: "Source Serif Pro";}
.font-lora {font-family: "Lora";}
.font-montserrat {font-family: "Montserrat";}
.font-pt-sans {font-family: "PT Sans";}
.font-raleway {font-family: "Raleway";}
.font-ubuntu {font-family: "Ubuntu";}
.font-merriweather {font-family: "Merriweather";}
.font-pt-serif {font-family: "PT Serif";}
.font-bitter {font-family: "Bitter";}
.font-poiret-one {font-family: "Poiret One";}
.font-oxygen {font-family: "Oxygen";}
.font-alegreya {font-family: "Alegreya";}
.font-alfa-slab-one {font-family: "Alfa Slab One";}
.font-alice {font-family: "Alice";}
.font-alex-brush {font-family: "Alex Brush";}
.font-varela-round {font-family: "Varela Round";}